{{<partials-layout}}
  {{$menu}}
    <main id="content" class="main" role="main">
  {{/menu}}
  {{$content}}
    <h1 class="heading-large">
      <span lang="en">Your electronic visa waiver is ready</span>
      <span lang="ar" dir="rtl">التأشيرة الإلكترونية الخاصة بك تنازل جاهزة</span>
    </h1>

    <div class="column-half en-margin" lang="en">
      <p>Download it and either print it or save it to your phone or tablet, so you can show it when asked</p>
    </div>

    <div class="column-half" dir="rtl" lang="ar">
      <p>قم بتنزيله وقم بطباعته أو حفظه على هاتفك أو جهازك اللوحي ، حتى تتمكن من إظهاره عند طلب ذلك.</p>
    </div>


    <p class="icon-important">
      <span lang="en">You might not be able to travel if you can not show your EVW.
      </span><span lang="ar" dir="rtl">قد لا تتمكن من السفر إذا لم تتمكن من إظهار EVW الخاص بك.</span>
    </p>

    <div id="download">
      <a class="button" href="/public/images/sample.png" download="sample.png">
        <span lang="en">Download</span>
        <span lang="ar"  dir="rtl">تحميل</span>
      </a>
    </div>
    </main>
  {{/content}}
{{/partials-layout}}
