{{<partials-layout}}
  {{$menu}}
    <main id="content" class="main" role="main">
  {{/menu}}
  {{$content}}
    <h1 class="heading-large">
      <span lang="en">Download your electronic visa waiver</span>
      <span lang="ar">تتنزيل الإعفاء الإلكتروني من التأشيرة</span>
    </h1>
    
    <p class="ar-float">
      <span lang="en">Your electronic visa waiver (EVW) is ready to download</span>
      <span lang="ar">التأشيرة الإلكترونية جاهزة للتنزيل</span>
    </p>   

    <p class="icon-important">
      <span lang="en">You'll be asked to show your EVW, so you must bring it with you when you travel. Otherwise you may not be allowed to enter the UK.
      </span><span lang="ar">يجب عليك التحقق من أنه يمكنك العثور على بطاقة الإعفاء من التأشيرة الإلكترونية على هاتفك المحمول أو جهازك اللوحي قبل السفر.</span>
    </p>

    <p class="ar-float">
      <span lang="en">You can print your EVW to bring with you, or save the file on your mobile phone or tablet.</span>
      <span lang="ar">يمكنك طباعة EVW الخاص بك لإحضار معك ، أو حفظ الملف على هاتفك المحمول أو جهازك اللوحي.</span>
    </p>

    <div class="column-half en-margin" lang="en">
      <p class="panel-indent">Make sure you know where your EVW is on your mobile phone or tablet before you travel.</p>
    </div>

    <div class="column-half" dir="rtl" lang="ar">
      <p class="panel-indent ar-margin">تأكد من معرفة مكان EVW الخاص بك على هاتفك المحمول أو جهازك اللوحي قبل السفر.</p>
    </div>

    <div id="download">
      <a class="button" href="/public/images/sample.png" download="sample.png">
        <span lang="en">Download your EVW</span>
        <span lang="ar">نزل الإعفاء الإلكتروني من التأشيرة.</span>
      </a>
    </div>

    <div class="mobile-help">
      <details role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
          <span class="summary">
            <span lang="en">Help with saving files on an iPhone or iPad </span>
            <span lang="ar">المساعدة في حفظ الملفات على iPhone أو iPad</span>
          </span>
        </summary>
        <div id="details-content-0" aria-hidden="true">
          <ol>
            <li>
              <span lang="en">Download your EVW.</span>
              <span lang="ar">قم بتنزيل EVW الخاص بك.</span>
            </li>
            <li>
              <span lang="en">Tap the ‘Share’ button – this is usually a square with up <br /> arrow. <img src="/public/images/share-apple.png" alt="" height="40" width="35"></span>
              <span lang="ar">اضغط على زر "مشاركة" - وهذا عادة مربع مع سهم لأعلى.</span>
            </li>
            <li>
              <span lang="en">Select where you want to put your EVW, <br /> for example in iBooks.</span>
              <span lang="ar">حدد المكان الذي تريد وضع EVW الخاص بك ، على سبيل المثال في iBooks</span>
            </li>
            <li>
              <span lang="en">Tap the ‘Save’ button.</span>
              <span lang="ar">اضغط على زر "حفظ".</span>
            </li>
          </ol>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
          <span class="summary">
            <span lang="en">Help with saving files on android phones and tablets</span>
            <span lang="ar">مساعدة في حفظ الملفات على هواتف Android والأجهزة اللوحية</span>
          </span>
        </summary>
        <div id="details-content-0" aria-hidden="true">
          <ol>
            <li> 
              <span lang="en">Download your EVW.</span>
              <span lang="ar">قم بتنزيل EVW الخاص بك.</span>
            </li>
            <li>
              <span lang="en">Tap the ‘All apps’ button on your device – this <br />
                is usually dots within a circle, or a pattern of <br />
                dots or squares. <img src="/public/images/apps-android.jpg" alt="" height="30" width="35"></span>
              <span lang="ar">انقر على زر "جميع التطبيقات" على جهازك - <br /> 
                              عادة ما تكون هذه النقاط داخل دائرة ، أو نمط من <br />
                            النقاط أو المربعات.</span>
            </li>
            <li>
              <span lang="en">Tap the ‘Downloads’ button – this is usually a down <br /> arrow in a circle. 
              </span> 
              <span lang="ar">انقر على زر "التنزيلات" - وهو عادةً سهم لأسفل في دائرة.</span>
            </li>
            <li>
              <span lang="en">Scroll to find your downloaded EVW file.</span>
              <span lang="ar">قم بالتمرير للعثور على ملف EVW الذي تم تنزيله.</span>
            </li>
          </ol>
          <div class="panel-indent">
            <h4 class="heading-small">
              <span lang="en">If your phone doesn’t have a ‘Download’ button  </span>
              <span lang="ar">إذا لم يكن هاتفك يحتوي على زر "تنزيل"</span>
            </h4>
            <br>
            <ol>
              <li>
                <span lang="en">Tap the ‘All apps’ button on your device – this is usually <br /> 
                dots within a circle, or a pattern of dots or squares. </span>
                <span lang="ar">انقر على زر "جميع التطبيقات" - هذه عادةً عبارة عن <br /> نقاط داخل دائرة ، أو نمط من النقاط أو المربعات.</span>
              </li>
              <li>
                <span lang="en"> Select ‘Phone files’ or ‘Device storage’.</span>
                <span lang="ar">حدد "ملفات الهاتف" أو "تخزين الجهاز".</span>
              </li>
              <li>
                <span lang="en">Scroll and select the ‘Download’ folder.</span>
                <span lang="ar">قم بالتمرير وحدد مجلد "التنزيل".</span>
              </li>
              <li>
                <span lang="en"> Scroll to find your downloaded EVW file.</span>
                <span lang="ar">قم بالتمرير للعثور على ملف EVW الذي تم تنزيله.</span>
              </li>
            </ol>
          </div>
        </div>
      </details>
    </div>
    </main>
  {{/content}}
{{/partials-layout}}
