{{<partials-layout}}
  {{$menu}}
    <main id="content" class="main" role="main">
  {{/menu}}
  {{$content}}
    <h1 class="heading-large">
      <span lang="en">Download your electronic visa waiver</span>
      <span lang="ar">تتنزيل الإعفاء الإلكتروني من التأشيرة</span>
    </h1>
    
    <p class="ar-float">
      <span lang="en">Your electronic visa waiver (EVW) is ready to download</span>
      <span lang="ar">التأشيرة الإلكترونية جاهزة للتنزيل</span>
    </p>   

    <p class="icon-important">
      <span lang="en">You'll be asked to show your EVW, so you must bring it with you when you travel. Otherwise you may not be allowed to enter the UK.
      </span><span lang="ar">يجب عليك التحقق من أنه يمكنك العثور على بطاقة الإعفاء من التأشيرة الإلكترونية على هاتفك المحمول أو جهازك اللوحي قبل السفر.</span>
    </p>

    <p class="ar-float">
      <span lang="en">You can print your EVW to bring with you, or save the file on your mobile phone or tablet.</span>
      <span lang="ar">يمكنك طباعة EVW الخاص بك لإحضار معك ، أو حفظ الملف على هاتفك المحمول أو جهازك اللوحي.</span>
    </p>

    <div class="column-half en-margin" lang="en">
      <p class="panel-indent">Make sure you know where your EVW is on your mobile phone or tablet before you travel.</p>
    </div>

    <div class="column-half" dir="rtl" lang="ar">
      <p class="panel-indent ar-margin">تأكد من معرفة مكان EVW الخاص بك على هاتفك المحمول أو جهازك اللوحي قبل السفر.</p>
    </div>

    <div id="download">
      <a class="button" href="/public/images/sample.pdf" download="sample.pdf">
        <span lang="en">Download your EVW</span>
        <span lang="ar">نزل الإعفاء الإلكتروني من التأشيرة.</span>
      </a>
    </div>

<details role="group">

  <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Help with nationality</span></summary>

  <div class="panel-indent" id="details-content-0" aria-hidden="true">

    <p>
      If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
    </p>

    <p>
      We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.
    </p>

  </div>

</details>
    </main>
  {{/content}}
{{/partials-layout}}
