{{<partials-layout}}
  {{$menu}}
    <main id="content" class="main" role="main">
  {{/menu}}
  {{$content}}
    <div class="grid-row">
      <h1 class="heading-large">
        <span lang="en">Download your electronic visa waiver</span>
        <span lang="ar">تتنزيل الإعفاء الإلكتروني من التأشيرة</span>
      </h1>
            
      <p class="icon-important">
      <span lang="en">Your electronic visa waiver is valid for one entry into the UK. You must show it when you travel or you may be refused entry to the UK. This can be either printed or displayed through a device</span><span lang="ar">الإعفاء الإلكتروني من التأشيرة الخاص بك يصلح لزيارة مفردة للمملكة المتحدة. يجب عليك ان تطبع الإعفاء الإلكتروني من التاشيرة وتظهره عندما تسافر او قد يتم منعك من دخول المملكة المتحدة.</span>
    </p>

    <div id="download">
      <a class="button" href="/public/images/sample.pdf" download="sample.pdf">
        <span lang="en">Download your EVW</span>
        <span lang="ar">نزل الإعفاء الإلكتروني من التأشيرة.</span>
      </a>
    </div>

    </div>
    </main>
  {{/content}}
{{/partials-layout}}
